*.pyc
*.DS_Store
*~
*.swp
*swo
*.sql
*.lock
*.out
*.pid
.noseids
build/**/*
tags
.idea
.vscode
.venv
*.csv
*.txt
.sass-cache
*.log
*.sublime-project
*.sublime-workspace
.coverage*
cover/
*.pkl
.ackrc
axr/*
*.env
.cache
Pipfile*
.tox/
*.dec
.direnv
dump.json
statics/
test_*.jpeg
app/analytics/*.json

# this will be removed once we support kms for secret management
secrets.yaml
.envrc
.vimrc
dist/
